.when__to__call__professional__container {
  padding-top: 40px;
  padding-bottom: 60px;
}

.when__to__call__professional__title {
  color: rgb(231, 116, 46);
  font-size: 48px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.when__to__call__professional__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.when__to__call__professional__item {
  display: flex;
  gap: 44px;
  justify-content: space-between;
}

.when__to__call__professional__item__title {
  max-width: 260px;
  width: 100%;
  color: rgb(11, 20, 39);
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.when__to__call__professional__item__description {
  max-width: 736px;
  width: 100%;
  color: rgb(11, 20, 39);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.when__to__call__professional__text {
  color: rgb(11, 20, 39);
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
}

.when__to__call__professional__button__block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.when__to__call__professional__button {
  padding: 15px 32px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.when__to__call__professional__button__text {
  color: rgb(11, 20, 39);
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .when__to__call__professional__item {
    flex-direction: column;
    gap: 8px;
  }
  .when__to__call__professional__item__title {
    max-width: 100%;
  }
  .when__to__call__professional__title {
    text-align: start;
    font-size: 34px;
  }
}

@media (max-width: 394px) {
  .when__to__call__professional__button {
    padding: 15px 16px;
  }
  .when__to__call__professional__button > span {
    font-size: 15px !important;
  }
}
